<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <!-- CONTENT GOES HERE -->
        <div class="h-400 min-h-400 max-h-400 border-2 border-dashed border-gray-300 rounded-2xl">

            <!-- postes -->
            <fuse-card class="flex flex-col max-w-300 w-full mt-8" #expandableCard02="fuseCard">
                <!-- [formGroup]="updatePosts" #updatePostsNgForm="ngForm" -->
                <form class="mt-8 flex flex-col max-w-400 w-full p-6 sm:p-8 pb-6" >

                    <div class="flex items-center mx-6 sm:mx-8 mt-6 mb-4">
                        <img class="w-10 h-10 rounded-full mr-4" src="assets/images/avatars/female-01.jpg"
                            alt="Card cover image">
                        <div class="flex flex-col">
                            <span class="font-semibold leading-none">Caroline Lundu</span>

                        </div>

                    </div>
                    
                    
                    <div class="mx-6 sm:mx-8 mt-2 mb-6" id="editDetails" [innerText]="Post" > 
                       
                     </div>
                    

                    <div class="flex items-center mx-3 sm:mx-5">

                        <button class="px-3 mr-1" mat-button type="submit" (click)="editPost()">Edit</button>
                        <button class="px-3 mr-1" mat-button type="submit">Delete</button>
                    </div>
                </form>
            </fuse-card>
            <app-update-post></app-update-post>
        </div>
        
    </div>
   
    
</div>