<div class="flex flex-col flex-auto min-w-0">

    <!-- Main -->
    <div class="flex-auto p-6 sm:p-10">

        <!-- CONTENT GOES HERE -->
        <div class="h-400 min-h-400 max-h-400 border-2 border-dashed border-gray-300 rounded-2xl">

            <!-- postes -->
            <fuse-card *ngFor="let posts of details" class="flex flex-col max-w-300 w-full mt-8"
                #expandableCard02="fuseCard">
                <div class="flex items-center mx-6 sm:mx-8 mt-6 mb-4">
                    <img class="w-10 h-10 rounded-full mr-4" src="assets/images/avatars/female-01.jpg"
                        alt="Card cover image">
                    <div class="flex flex-col">
                        <span class="font-semibold leading-none">Caroline Lundu</span>

                    </div>
                    <button class="ml-auto -mr-4" mat-icon-button [matMenuTriggerFor]="postCardMenu02">
                        <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-vertical'"></mat-icon>
                    </button>
                    <mat-menu #postCardMenu02="matMenu">
                        <button mat-menu-item>
                            <span class="flex items-center">
                                <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:save'"></mat-icon>
                                <span>Save post</span>
                            </span>
                        </button>
                        <button mat-menu-item>
                            <span class="flex items-center">
                                <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                                <span>Hide post</span>
                            </span>
                        </button>
                        <button mat-menu-item>
                            <span class="flex items-center">
                                <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:clock'"></mat-icon>
                                <span>Snooze for 30 days</span>
                            </span>
                        </button>
                        <button mat-menu-item>
                            <span class="flex items-center">
                                <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:minus-circle'">
                                </mat-icon>
                                <span>Hide all</span>
                            </span>
                        </button>
                        <mat-divider class="my-2"></mat-divider>
                        <button mat-menu-item>
                            <span class="flex items-center">
                                <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:exclamation'"></mat-icon>
                                <span>Report post</span>
                            </span>
                        </button>
                        <button mat-menu-item>
                            <span class="flex items-center">
                                <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:bell'"></mat-icon>
                                <span>Turn on notifications for this post</span>
                            </span>
                        </button>
                    </mat-menu>
                </div>
               
                <div class="mx-6 sm:mx-8 mt-2 mb-6" >{{posts.postdetails}}
                    <button class="px-3 mr-1" [color]="'primary'" mat-button type="submit" (click)="sentPost(posts.postdetails)"
                        [routerLink]="'/details-post'">Details</button>
                    
                </div>
                
               
                <div class="relative mb-4">
                    <!-- <img
                        class="h-80 object-cover"
                        src="assets/images/cards/14-640x480.jpg"
                        alt="Card cover image"> -->
                    <!-- <div
                        class="absolute bottom-0 left-0 flex items-center justify-center w-8 h-8 m-4 rounded-full cursor-pointer bg-gray-700"
                        [matTooltip]="'Barmouth / UK'"
                        [matTooltipPosition]="'right'">
                        <mat-icon
                            class="icon-size-4 text-gray-100"
                            [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                    </div> -->
                </div>
                <div class="flex items-center mx-3 sm:mx-5">
                    <button class="px-3 mr-1" mat-button [routerLink]="['./']">
                        <mat-icon class="icon-size-5 text-red-500 mr-2" [svgIcon]="'heroicons_solid:heart'"></mat-icon>
                        <span>Unlike</span>
                    </button>
                    <button class="px-3 mr-1" mat-button [routerLink]="['./']">
                        <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_solid:chat-alt'"></mat-icon>
                        <span>Comment</span>
                    </button>
                    <button class="px-3 mr-1" mat-button [routerLink]="['./']">
                        <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_solid:share'"></mat-icon>
                        <span>Share</span>
                    </button>
                </div>
                <hr class="border-b mx-6 sm:mx-8 mt-4 mb-6">
                <div class="flex flex-col sm:flex-row sm:items-center mx-6 sm:mx-8 mb-4 sm:mb-6">
                    <div class="flex items-center">
                        <img class="w-6 h-6 m-0.5 rounded-full text-card ring-2 ring-white"
                            src="assets/images/avatars/female-02.jpg" alt="Card cover image">
                        <img class="w-6 h-6 m-0.5 rounded-full -ml-3 text-card ring-2 ring-white"
                            src="assets/images/avatars/female-04.jpg" alt="Card cover image">
                        <img class="w-6 h-6 m-0.5 rounded-full -ml-3 text-card ring-2 ring-white"
                            src="assets/images/avatars/male-09.jpg" alt="Card cover image">
                        <img class="w-6 h-6 m-0.5 rounded-full -ml-3 text-card ring-2 ring-white"
                            src="assets/images/avatars/male-07.jpg" alt="Card cover image">
                        <div class="text-md tracking-tight ml-3">You and 24 more liked this</div>
                    </div>
                    <div class="hidden sm:flex flex-auto"></div>
                    <div class="flex items-center mt-4 sm:mt-0">
                        <button class="px-3 mr-1 -ml-2 sm:ml-0" mat-button>
                            4 shares
                        </button>
                        <button class="px-3 sm:-mr-4" mat-button
                            (click)="expandableCard02.expanded = !expandableCard02.expanded">
                            <span class="mr-1">5 Comments</span>
                            <mat-icon class="icon-size-5 transition-transform ease-in-out duration-150 rotate-0"
                                [svgIcon]="'heroicons_solid:chevron-down'"></mat-icon>
                        </button>
                    </div>
                </div>

                <ng-container fuseCardExpansion>
                    <hr class="border-b m-0">
                    <div class="flex flex-col mx-4 sm:mx-8 mt-6 mb-3">
                        <div class="flex items-start">
                            <img class="w-12 h-12 rounded-full mr-5" src="assets/images/avatars/brian-hughes.jpg"
                                alt="Card cover image">
                            <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                                <textarea matInput [placeholder]="'Write a comment...'" [rows]="3"
                                    matTextareaAutosize></textarea>
                            </mat-form-field>
                        </div>
                        <div class="flex items-center mt-3 ml-auto -mr-3">
                            <button mat-icon-button>
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:sparkles'"></mat-icon>
                            </button>
                            <button mat-icon-button>
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:emoji-happy'"></mat-icon>
                            </button>
                            <button mat-icon-button>
                                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:photograph'"></mat-icon>
                            </button>
                        </div>
                    </div>
                    <hr class="border-b mx-4 sm:mx-8 my-0">
                    <div class="max-h-120 overflow-y-auto">
                        <div class="relative flex flex-col mx-4 sm:mx-8 my-6">
                            <div class="flex items-start">
                                <img class="w-8 h-8 rounded-full mr-4" src="assets/images/avatars/male-05.jpg"
                                    alt="Card cover image">
                                <div class="flex flex-col mt-0.5">
                                    <!-- <span>
                                        <b>Rutherford Brannan</b> Oh, I’m in.. Let’s arrange a trip for the next weekend if you want!
                                    </span> -->
                                    <div class="flex items-center text-sm text-secondary mt-2">
                                        <a class="mr-2 hover:underline" [routerLink]="'./'">Like
                                        </a>
                                        <a class="mr-2 hover:underline" [routerLink]="'./'">Reply
                                        </a>
                                        <a class="mr-2 hover:underline" [routerLink]="'./'">Hide replies
                                        </a>
                                        <span class="mr-2">&bull;</span>
                                        <span>17 min</span>
                                    </div>
                                </div>
                            </div>
                            <div class="flex items-start mt-8 ml-12">
                                <img class="w-8 h-8 rounded-full mr-4" src="assets/images/avatars/female-01.jpg"
                                    alt="Card cover image">
                                <div class="flex flex-col mt-0.5">
                                    <span>
                                        <b>Caroline Lundu</b> Yes!! Let's talk about it on lunch!
                                    </span>
                                    <div class="flex items-center text-sm text-secondary mt-2">
                                        <a class="mr-2 hover:underline" [routerLink]="'./'">Like
                                        </a>
                                        <a class="mr-2 hover:underline" [routerLink]="'./'">Reply
                                        </a>
                                        <span class="mr-2">&bull;</span>
                                        <span>15 min</span>
                                    </div>
                                </div>
                            </div>
                            <div class="flex items-start mt-8 ml-12">
                                <img class="w-8 h-8 rounded-full mr-4" src="assets/images/avatars/female-08.jpg"
                                    alt="Card cover image">
                                <div class="flex flex-col mt-0.5">
                                    <span>
                                        <b>Barbara Cotilla</b> Count me in !!!
                                    </span>
                                    <div class="flex items-center text-sm text-secondary mt-2">
                                        <a class="mr-2 hover:underline" [routerLink]="'./'">Like
                                        </a>
                                        <a class="mr-2 hover:underline" [routerLink]="'./'">Reply
                                        </a>
                                        <span class="mr-2">&bull;</span>
                                        <span>12 min</span>
                                    </div>
                                </div>
                            </div>
                            <div class="flex items-start mt-8">
                                <img class="w-8 h-8 rounded-full mr-4" src="assets/images/avatars/male-11.jpg"
                                    alt="Card cover image">
                                <div class="flex flex-col mt-0.5">
                                    <span>
                                        <b>Alan Marti</b> The color of the sky doesn’t look natural at all, do you
                                        really think this is natural? I’d say Photoshop!
                                        Your trip isn't going to worth it since you won't be seeing this exact sky.
                                    </span>
                                    <div class="flex items-center text-sm text-secondary mt-2">
                                        <a class="mr-2 hover:underline" [routerLink]="'./'">Like
                                        </a>
                                        <a class="mr-2 hover:underline" [routerLink]="'./'">Reply
                                        </a>
                                        <a class="mr-2 hover:underline" [routerLink]="'./'">Hide replies
                                        </a>
                                        <span class="mr-2">&bull;</span>
                                        <span>24 min</span>
                                    </div>
                                </div>
                            </div>
                            <div class="flex items-start mt-8 ml-12">
                                <img class="w-8 h-8 rounded-full mr-4" src="assets/images/avatars/female-01.jpg"
                                    alt="Card cover image">
                                <div class="flex flex-col mt-0.5">
                                    <span>
                                        <b>Caroline Lundu</b> Hey, Alan! You must be fun at parties!
                                    </span>
                                    <div class="flex items-center text-sm text-secondary mt-2">
                                        <a class="mr-2 hover:underline" [routerLink]="'./'">Like
                                        </a>
                                        <a class="mr-2 hover:underline" [routerLink]="'./'">Reply
                                        </a>
                                        <span class="mr-2">&bull;</span>
                                        <span>22 min</span>
                                    </div>
                                </div>
                            </div>
                            <div class="flex items-start mt-8 ml-12">
                                <img class="w-8 h-8 rounded-full mr-4" src="assets/images/avatars/male-11.jpg"
                                    alt="Card cover image">
                                <div class="flex flex-col mt-0.5">
                                    <span>
                                        <b>Alan Marti</b> Caroline, I'm telling the truth, and if you cannot stand the
                                        truth, maybe we shouldn't be friends anymore...
                                    </span>
                                    <div class="flex items-center text-sm text-secondary mt-2">
                                        <a class="mr-2 hover:underline" [routerLink]="'./'">Like
                                        </a>
                                        <a class="mr-2 hover:underline" [routerLink]="'./'">Reply
                                        </a>
                                        <span class="mr-2">&bull;</span>
                                        <span>20 min</span>
                                    </div>
                                </div>
                            </div>
                            <div class="flex items-start mt-8 ml-12">
                                <img class="w-8 h-8 rounded-full mr-4" src="assets/images/avatars/female-01.jpg"
                                    alt="Card cover image">
                                <div class="flex flex-col mt-0.5">
                                    <span>
                                        <b>Caroline Lundu</b> Dude! Relax! I'm just messing with you...
                                    </span>
                                    <div class="flex items-center text-sm text-secondary mt-2">
                                        <a class="mr-2 hover:underline" [routerLink]="'./'">Like
                                        </a>
                                        <a class="mr-2 hover:underline" [routerLink]="'./'">Reply
                                        </a>
                                        <span class="mr-2">&bull;</span>
                                        <span>18 min</span>
                                    </div>
                                </div>
                            </div>
                            <div class="flex items-start mt-8 ml-12">
                                <img class="w-8 h-8 rounded-full mr-4" src="assets/images/avatars/male-11.jpg"
                                    alt="Card cover image">
                                <div class="flex flex-col mt-0.5">
                                    <span>
                                        <b>Alan Marti</b> Sorry! I had a bad morning, let's talk about this in couple
                                        hours, I need to relax a bit :(
                                    </span>
                                    <div class="flex items-center text-sm text-secondary mt-2">
                                        <a class="mr-2 hover:underline" [routerLink]="'./'">Like
                                        </a>
                                        <a class="mr-2 hover:underline" [routerLink]="'./'">Reply
                                        </a>
                                        <span class="mr-2">&bull;</span>
                                        <span>16 min</span>
                                    </div>
                                </div>
                            </div>
                            <div class="flex items-start mt-8">
                                <img class="w-8 h-8 rounded-full mr-4" src="assets/images/avatars/female-05.jpg"
                                    alt="Card cover image">
                                <div class="flex flex-col mt-0.5">
                                    <span>
                                        <b>Marleah Eagleston</b> Count me in, too!
                                    </span>
                                    <div class="flex items-center text-sm text-secondary mt-2">
                                        <a class="mr-2 hover:underline" [routerLink]="'./'">Like
                                        </a>
                                        <a class="mr-2 hover:underline" [routerLink]="'./'">Reply
                                        </a>
                                        <span class="mr-2">&bull;</span>
                                        <span>34 min</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </ng-container>
            </fuse-card>
        </div>
    </div>

</div>