<form class="mt-8 flex flex-col max-w-400 w-full p-6 sm:p-8 pb-6" [formGroup]="createPosts">

    <fuse-card class="flex flex-col max-w-400 w-full p-6 sm:p-8 pb-6">
        <div class="text-xl font-semibold">Create Post</div>
        <div class="flex flex-col sm:flex-row items-start mt-8">
            <div class="flex items-center mb-6 sm:mb-0">
                <img class="w-12 min-w-12 h-12 rounded-full mr-4" src="assets/images/avatars/brian-hughes.jpg"
                    alt="Card cover image">
                <div class="sm:hidden">Brian Hughes</div>
            </div>
            <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
                <textarea matInput [placeholder]="'What\'s on your mind?'" [rows]="3" matTextareaAutosize id="input"
                    [formControlName]="'postdetails'">
                        </textarea>
                <button class="px-3 mr-1" [color]="'primary'" (click)="createPost()" mat-button
                    type="submit">Post</button>

            </mat-form-field>
        </div>
        <div class="flex items-center mt-6 sm:mt-8 -mx-3">
            <button class="px-3 mr-1" mat-button [routerLink]="['./']">
                <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_solid:photograph'"></mat-icon>
                <span>Photo / Video</span>
            </button>
            <button class="px-3 mr-1 hidden sm:inline-flex" mat-button [routerLink]="['./']">
                <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                <span>Tag Friends</span>
            </button>
            <button class="px-3 mr-1 hidden sm:inline-flex" mat-button [routerLink]="['./']">
                <mat-icon class="icon-size-5 mr-2" [svgIcon]="'heroicons_solid:emoji-happy'"></mat-icon>
                <span>Feeling</span>
            </button>
            <button class="px-3" mat-button [matMenuTriggerFor]="postCardMenu01">
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:dots-horizontal'"></mat-icon>
            </button>
            <mat-menu #postCardMenu01="matMenu">
                <button class="sm:hidden" mat-menu-item [routerLink]="['./']">
                    <span class="flex items-center">
                        <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                        <span>Tag Friends</span>
                    </span>
                </button>
                <button class="sm:hidden" mat-menu-item [routerLink]="['./']">
                    <span class="flex items-center">
                        <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:emoji-happy'"></mat-icon>
                        <span>Feeling</span>
                    </span>
                </button>
                <button mat-menu-item>
                    <span class="flex items-center">
                        <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:play'"></mat-icon>
                        <span>Live</span>
                    </span>
                </button>
                <button mat-menu-item>
                    <span class="flex items-center">
                        <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:sparkles'"></mat-icon>
                        <span>Gif</span>
                    </span>
                </button>
                <button mat-menu-item>
                    <span class="flex items-center">
                        <mat-icon class="icon-size-5 mr-3" [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                        <span>Check in</span>
                    </span>
                </button>


            </mat-menu>

        </div>

    </fuse-card>
</form>