<div class="flex flex-col flex-auto min-w-0">

    <!-- Header -->
    <!-- <div class="flex flex-col shadow bg-card"></div> -->

    <!-- Cover image -->
    <div>
        <img class="h-20 lg:h-20 object-cover">
    </div>

    <!-- User info -->
    <div class="flex flex-col flex-0 lg:flex-row items-center max-w-5xl w-full mx-auto px-8 lg:h-18 bg-card">

        <!-- Avatar -->

        <div class="-mt-26 lg:-mt-22 rounded-full">
            <img class="w-32 h-32 rounded-full ring-4 ring-bg-card" src="assets/images/avatars/male-04.jpg"
                alt="User avatar">
        </div>

        <!-- Details -->
        <div class="flex flex-col items-center lg:items-start mt-4 lg:mt-0 lg:ml-8">
            <div class="text-lg font-bold leading-none">Brian Hughes</div>
            <div class="text-secondary">London, UK</div>
        </div>

        <!-- Separator -->
        <!-- <div class="hidden lg:flex h-8 mx-8 border-l-2"></div> -->

        <!-- Stats -->
        <!-- <div class="flex items-center mt-6 lg:mt-0 space-x-6">
                <div class="flex flex-col items-center">
                    <span class="font-bold">200k</span>
                    <span class="text-sm font-medium text-secondary">FOLLOWERS</span>
                </div>
                <div class="flex flex-col items-center">
                    <span class="font-bold">1.2k</span>
                    <span class="text-sm font-medium text-secondary">FOLLOWING</span>
                </div>
            </div> -->

        <!-- Menu -->
        <!-- <div class="flex items-center mt-8 mb-4 lg:m-0 lg:ml-auto space-x-6">
                <a
                    class="font-medium"
                    [routerLink]="['./']">
                    Home
                </a>
                <a
                    class="text-secondary"
                    [routerLink]="['./']">
                    About
                </a>
                <a
                    class="text-secondary"
                    [routerLink]="['./']">
                    Followers
                </a>
                <a
                    class="text-secondary"
                    [routerLink]="['./']">
                    Gallery
                </a>
            </div>

        </div> -->

    </div>

    <!-- Main -->
    <div class="flex flex-auto justify-center w-full max-w-5xl mx-auto p-6 sm:p-8">



        <!-- Alert -->
        <!-- <fuse-alert
            class="mt-8 -mb-4"
            *ngIf=""
            [appearance]="'outline'"
            [showIcon]="false"
            [type]="alert.type"
            [@shake]="alert.type === 'error'">
            {{alert.message}}
        </fuse-alert> -->

        <!-- Sign Up form -->
        <form class="mt-8" [formGroup]="profileUpdate">
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight center">Update profile</div>
            <div class="mt-8 text-4xl font-extrabold tracking-tight leading-tight center"></div>
            <div class="flex items-baseline mt-0.5 font-medium"></div>
            <!-- First name field -->
            <mat-form-field class="w-full">
                <mat-label>First name</mat-label>
                <input id="firstName" matInput [formControlName]="'firstName'" (input)="this.getUsername()">
                <mat-error *ngIf="profileUpdate.get('firstName').hasError('required')">
                    First name is required
                </mat-error>
            </mat-form-field>
            <!-- Last name field -->
            <mat-form-field class="w-full">
                <mat-label>Last name</mat-label>
                <input id="lastName" matInput [formControlName]="'lastName'" (input)="this.getUseremail()">
                <mat-error *ngIf="profileUpdate.get('lastName').hasError('required')">
                    Last name is required
                </mat-error>
            </mat-form-field>

            <!-- Name field -->
            <mat-form-field class="w-full">
                <mat-label>User name</mat-label>
                <input id="name" matInput [formControlName]="'name'" readonly>
                <mat-error *ngIf="profileUpdate.get('name').hasError('required')">
                    Full name is required
                </mat-error>
                <mat-error *ngIf="profileUpdate.get('name').hasError('maxlength')">
                    Max Length is 15 characters
                </mat-error>
            </mat-form-field>

            <!-- Email field -->
            <mat-form-field class="w-full">
                <mat-label>Email address</mat-label>
                <input id="email" matInput [formControlName]="'email'" readonly>
                <mat-error *ngIf="profileUpdate.get('email').hasError('required')">
                    Email address is required
                </mat-error>
                <mat-error *ngIf="profileUpdate.get('email').hasError('email')">
                    Please enter a valid email address
                </mat-error>
            </mat-form-field>

            <!-- Password field -->

            <!--Address Field-->
            <mat-form-field class="w-full">
                <mat-label>Address</mat-label>
                <input id="address" matInput [formControlName]="'address'" (input)="this.getpassword()">
                <mat-error *ngIf="profileUpdate.get('address').hasError('required')">
                    address address is required
                </mat-error>
                <mat-error *ngIf="profileUpdate.get('address').hasError('address')">
                    Please enter a valid address address
                </mat-error>
            </mat-form-field>
            <!--phone Nuber-->
            <mat-form-field class="w-full">
                <mat-label>Phone Number</mat-label>
                <input id="phoneNumber" matInput [formControlName]="'phoneNumber'">
                <mat-error *ngIf="profileUpdate.get('phoneNumber').hasError('required')">
                    phoneNumber phoneNumber is required
                </mat-error>
                <mat-error *ngIf="profileUpdate.get('phoneNumber').hasError('phoneNumber')">
                    Please enter a valid phoneNumber phoneNumber
                </mat-error>
            </mat-form-field>
            <!--Country DropDown List-->
            <mat-form-field class="w-full">
                <mat-label>Country</mat-label>
                <input id="country" matInput [formControlName]="'country'">
                <mat-error *ngIf="profileUpdate.get('country').hasError('required')">
                    country country is required
                </mat-error>
                <mat-error *ngIf="profileUpdate.get('country').hasError('country')">
                    Please enter a valid country country
                </mat-error>
            </mat-form-field>
            <!--password hidden field-->

            <mat-form-field class="w-full">
                <mat-label>Password</mat-label>
                <input id="password" matInput [formControlName]="'password'">
                <mat-error *ngIf="profileUpdate.get('password').hasError('required')">
                    password password is required
                </mat-error>
                <mat-error *ngIf="profileUpdate.get('password').hasError('password')">
                    Please enter a valid password password
                </mat-error>
            </mat-form-field>

            <!-- Submit button -->
            <button type="submit" class="fuse-mat-button-large w-full mt-6" mat-flat-button [color]="'primary'"
                (click)="updateProfile()">Update profile
            </button>
        </form>
    </div>