<div >
<form class="mt-8 flex flex-col max-w-400 w-full p-6 sm:p-8 pb-6" [formGroup]="'updatePosts'">

<fuse-card class="flex flex-col max-w-400 w-full p-6 sm:p-8 pb-6">
<!-- <div class="text-xl font-semibold">Create Post</div> -->
<!-- <div class="flex flex-col sm:flex-row items-start mt-8"> -->
    <!-- <div class="flex items-center mb-6 sm:mb-0">
        <img class="w-12 min-w-12 h-12 rounded-full mr-4" src="assets/images/avatars/brian-hughes.jpg"
            alt="Card cover image">
        <div class="sm:hidden">Brian Hughes</div>
    </div> -->
    <mat-form-field class="fuse-mat-textarea fuse-mat-no-subscript w-full">
        <textarea matInput [placeholder]="'What\'s on your mind?'" [rows]="3" matTextareaAutosize id="input"
            [formControlName]="'postDetails'">
                </textarea>
        <button class="px-3 mr-1" [color]="'primary'" mat-button
            type="submit">Update</button>

    </mat-form-field>

</fuse-card>
</form>
</div>
